<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <div class="card">
                <img src="/assets/imgs/banner4.jpg" class="card-img-top" alt="choco">                    
              </div>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6 px-2">
           <h4>Laddu</h4>
           <h5>Description</h5>
           <p>
               A true Royal Rajasthan delicary of tender spring goat meat
               simmered on slow fire with traditional handpicked spices and
               Mathenia chillies, making it the one among the hottest dish
               in the land.
           </p>
           <div class="form-group" style="width:100px;"> 
            <label for="number"><strong>Quantity:</strong></label> 
            <select class="form-control">
               <option>500 gms</option>
               <option>100 gms</option>
            </select>
            <!-- <input type="number" class="form-control" id="number" min="0">  -->
            </div> 
           <button class="btn btn-primary btn-sm">Add to cart</button>
        </div>
    </div>
    <br><br>
        <div class="d-flex justify-content-left">
           <h4>You may also Like</h4> 
        </div>
        <div class="row background-class"> 
            <div class="col-md-3 col-lg-3 col-sm-3 px-2">
                <div class="card p-2" style="width: 18rem;">
                    <img src="/assets/imgs/Chow_Chow_COMPRESSED.jpg" class="card-img-top" alt="choco">
                    <div class="card-body">         
                     <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>        
                  </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 px-2">
                <div class="card p-2" style="width: 18rem;">
                    <img src="/assets/imgs/Kaju_Apple_COMPRESSED.jpg" class="card-img-top" alt="choco">
                    <div class="card-body">         
                     <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>        
                  </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 px-2">
                <div class="card p-2" style="width: 18rem;">
                    <img src="/assets/imgs/Kaju_Apple_COMPRESSED.jpg" class="card-img-top" alt="choco">
                    <div class="card-body">         
                     <button class="btn btn-primary btn-sm">Add to cart</button>
                    </div>        
                  </div>
            </div>
    
        </div>
    </div>  
    
